serverless.yml
service: aws-node-http-api-project
frameworkVersion: "3"

plugins:
  - serverless-step-functions

provider:
  name: aws
  runtime: nodejs16.x
  region: us-east-2
  iamRoleStatements:
    - Effect: Allow
      Action:
        - states:StartExecution
      Resource: !Ref StateMachinePOC
  environment:
    STATE_MACHINE_ARN: !Ref StateMachinePOC

functions:
  api:
    handler: src/api/index.handler
    events:
      - httpApi:
          path: /
          method: post
  RunInsideStepFunction:
    handler: src/RunInsideStepFunction/index.handler

resources:
  Resources:
    StateMachinePOC:
      Type: AWS::StepFunctions::StateMachine
      Properties:
        Definition:
          Comment: Exemplo de State Machine
          StartAt: Parallel
          States:
            Parallel:
              Type: Parallel
              Branches:
                - StartAt: MyState1
                  States:
                    MyState1:
                      Type: Task
                      Resource: arn:aws:lambda:us-east-2:771664442442:function:aws-node-http-api-project-dev-RunInsideStepFunction
                      ResultPath: "$.output1"
                      Retry:
                        - ErrorEquals:
                            - States.ALL
                          IntervalSeconds: 1200
                          MaxAttempts: 3
                          BackoffRate: 2
                      Next: Wait
                    Wait:
                      Type: Wait
                      Seconds: 5
                      End: true
                - StartAt: MyState1 (1)
                  States:
                    MyState1 (1):
                      Type: Task
                      Resource: arn:aws:lambda:us-east-2:771664442442:function:aws-node-http-api-project-dev-RunInsideStepFunction
                      ResultPath: "$.output2"
                      Retry:
                        - ErrorEquals:
                            - States.ALL
                          IntervalSeconds: 1200
                          MaxAttempts: 3
                          BackoffRate: 2
                      Next: Wait (1)
                    Wait (1):
                      Type: Wait
                      Seconds: 60
                      End: true
              ResultPath: "$.parallelResult"
              End: true
        RoleArn: !GetAtt StateMachinePOCStepFunctionsStateMachineRole.Arn

    StateMachinePOCStepFunctionsStateMachineRole:
      Type: AWS::IAM::Role
      Properties:
        AssumeRolePolicyDocument:
          Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Principal:
                Service: states.amazonaws.com
              Action: sts:AssumeRole
        Policies:
          - PolicyName: StateMachinePOCStepFunctionsPolicy
            PolicyDocument:
              Version: "2012-10-17"
              Statement:
                - Effect: Allow
                  Action:
                    - logs:CreateLogGroup
                    - logs:CreateLogStream
                    - logs:PutLogEvents
                  Resource: "*"
                - Effect: Allow
                  Action:
                    - lambda:InvokeFunction
                  Resource: "*"

outputs:
  StateMachinePOC:
    Description: "ARN da State Machine"
    Value: !Ref StateMachinePOC
  ApiEndpoint:
    Description: "Endpoint da API HTTP"
    Value: !Sub "https://${ServerlessRestApi}.execute-api.${AWS::Region}.amazonaws.com/Prod/"
